node_modules
.next
.vercel
out
.DS_Store
*.pem
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
next-env.d.ts
*.mov

# MC Server
mc-server/server/
mc-server/build/
mc-server/.gradle/
